*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
a, button, link, input[type=submit]{
    cursor: pointer;
}
a{
    text-decoration: none;
}
header{
    height: 80vh;
    width: 100%;
}
#header-menu{
    display: none;
}
.top-bar{
    height: 15%;
    position: fixed;
    width: 100%;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.top-bar .menu, .top-bar .menu a{
    display: none;
    font-size: 30px;
    font-weight: 700;
    color: black;
}
.top-bar-logo{
    height: 80%;
}
.top-bar-logo span{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 600;
    color: white;
}
.top-bar-menu ul{
    list-style-type: none;
}
.top-bar-menu li{
    display: inline-block;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 600;
}
.top-bar-contact-btn button{
    background-color: lightblue;
    border: 1px solid gray;
    border-radius: 0 5px 0 5px;
    padding: 15px 12px;
}
.header-banner{
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-writeup{
    margin-top: 30%;
}
.banner-writeup p{
    margin-bottom: 15px;
    max-width: 600px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
.cta1, .cta2{
    margin-bottom: 10px;
    text-align: center;
}
.cta1 button{
    padding: 10px 12px;
    border: 1px solid white;
    background-color: orange;
    border-radius: 4px;
    width: 120px;
}
.cta2 button{
    padding: 10px 12px;
    border: 1px solid orange;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    width: 120px;
}

section{
    width: 100%;
    min-height: 60vh;
    padding: 30px;
}
.section-header{
    color: olivedrab;
    font-size: 24px;
    font-weight: 700;
}
.section-subheader{
    color: #444444;
    font-size: 30px;
    font-weight: 700;
}
.section-writeup p{
    font-size: 18px;
    color: #444444;
}



@media only screen and (max-width:800px){
    .top-bar .menu, .top-bar .menu a{
        display: block;
    }
    .top-bar-menu{
        display: none;
    }
    .top-bar-contact-btn{
        display: none;
    }
    header{
        height: 70vh;
    }
    section{
        padding: 20px;
    }
    .section-header{
        color: olivedrab;
        font-size: 20px;
        font-weight: 700;
    }
    .section-subheader{
        color: #444444;
        font-size: 27px;
        font-weight: 700;
    }
    .section-writeup p{
        font-size: 16px;
    }
}