*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
a, button, link, input[type=submit]{
    cursor: pointer;
}
a{
    text-decoration: none;
}
button{
    min-width: 70px;
    padding: 7px 10px;
    background-color: orange;
    color: white;
}
hr{
    margin: 0;
}
p{
    font-size: 18px;
    color: #444444;
}
.pri-color{
    color: orangered;
}
.dark-cover{
    background-color: rgba(0, 0, 0, 0.5);
}
header{
    min-height: 80vh;
    width: 100%;
}
#header-menu{
    display: block;
}
.header-menu{
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
.menu-overlay{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.header-menu a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: rgb(224, 219, 219);
    display: block;
    cursor: pointer;
    transition: 0.3s;
}
.header-menu a:hover, .header-menu a:focus{
    color: #fff;
}
.header-menu .closemenubtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
    cursor: pointer;
}
.top-bar{
    height: 15%;
    min-height: 90px;
    position: relative;
    width: 100%;
    background-color: orangered;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.top-bar .menu, .top-bar .menu a{
    display: none;
    font-size: 30px;
    font-weight: 700;
    color: black;
}
.top-bar-logo{
    height: 80%;
}
.top-bar-logo span{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 600;
    color: white;
}
.top-bar-menu ul{
    list-style-type: none;
}
.top-bar-menu li{
    display: inline-block;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.top-bar-contact-btn button{
    background-color: #99cccc;
    border: 1px solid gray;
    border-radius: 0 5px 0 5px;
    padding: 15px 12px;
}
.header-banner-container{
    background-image: url(../img/photo1.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.header-banner{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    min-height: 80vh;
    padding: 90px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-banner p{
    max-width: 600px;
    margin-bottom: 25px;
}
.banner-writeup p, .banner-writeup p span{
    margin-bottom: 15px;
    max-width: 600px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #fcfcfc;
}
.header-banner-cta{
    margin-bottom: 20px;
    text-align: center;
}
.header-banner-cta button{
    padding: 10px 12px;
    margin-right: 18px;
    border-radius: 0;
    width: 120px;
}
#cta-btn1{
    border: 1px solid white;
    background-color: orangered;
}
#cta-btn1:hover{
    border: 1px solid orangered;
    background-color: rgba(253, 62, 4, 0.3);
}
#cta-btn2{
    border: 1px solid orangered;
    background-color: rgba(0, 0, 0, 0.3);
}
#cta-btn2:hover{
    border: 1px solid white;
    background-color: rgba(253, 62, 4, 0.3);
}
#our-solution{
    background-color: #fcfcfc;
}
#get-in-touch-section{
    background-image: url(../img/photo1.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
#what-we-do{
    background-color: #cccccc;
}
#our-customers{
    background-color: #fcfcfc;
}
#why-us{
    background-color: orange;
}
#our-team{
    background-color: #fcfcfc;
}
#latest-news{
    background-color: #cccccc;
}
section{
    width: 100%;
    min-height: 50vh;
    padding: 40px;
}
.section-header{
    color: olivedrab;
    font-size: 24px;
    font-weight: 700;
}
.section-subheader{
    color: #444444;
    font-size: 30px;
    font-weight: 700;
}
.section-writeup p{
    font-size: 18px;
    color: #444444;
}
.readmore{
    color: orange;
    text-decoration: underline;
}
#our-solution{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: auto;
    min-height: 100vh;
}
.our-solution-desc{
    width: 45%;
}
.our-solution-img{
    height: 80vh;
    width: 45%;
}
.our-solution-img img{
    height: 100%;
    width: 100%;
}
.our-solution-list{
    list-style-type: disc;
    padding: 10px 20px;
}
.our-solution-list li{
    margin-bottom: 8px;
}
#get-in-touch .section-writeup{
    text-align: left;
}
#get-in-touch .section-writeup span{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}
#get-in-touch .section-writeup p{
    margin-bottom: 10px;
}
#get-in-touch .section-writeup p a{
    color: #444444;
    text-decoration: none;
}
#get-in-touch .section-writeup .send-message-btn{
    margin-top: 20px;
    text-align: center;
}
#get-in-touch .section-writeup .send-message-btn button{
    border: 1px solid white;
    border-radius: 4px;
}
#what-we-do .section-writeup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.service-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 20px;
    width: 30%;
    min-height: 100px;
    border: 1px solid gray;
    border-radius: 6px;
    background-color: #fcfcfc;
}
.service-card .icon{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.service-card .icon span .fas{
    color: gray;
    opacity: 0.7;
    font-size: 48px;
}
.service-card .writeup{
    width: 100%;
}
.service-card .writeup h3{
    text-align: center;
}
.customer-logos{
    margin-top: 20px;
}
.team-members .member{
    height: 60vh;
    text-align: center;
}
.portrait{
    height: 60%;
    width: 100%;
    overflow-y: hidden;
}
.portrait img{
    height: 100%;
    width: 100%;
}
.member-desc{
    height: 40%;
    width: 100%;
    background-color: #fcfcfc;
}


footer{
    min-height: 50vh;
    background-color: rgba(46, 12, 2, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fcfcfc;
    padding: 40px;
}
.quicklinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.footer-menu ul{
    list-style-type: disc;
    padding-left: 15px;
}
.social-media ul{
    list-style-type: none;
    padding-left: 5px;
}
.footer-menu ul li, .social-media ul li{
    margin-bottom: 15px;
    font-size: 16px;
}
#nl-submit-btn{
    background-color: green;
    padding: 6px 8px;
}
.extra-links{
    text-align: center;
}
.copyright{
    width: 100%;
    height: 30px;
    font-size: 16px;
    color: #cccccc;
    background-color: #444444;
    text-align: center;
}





@media only screen and (max-width:800px){
    .top-bar .menu, .top-bar .menu a{
        display: block;
    }
    .top-bar-menu{
        display: none;
    }
    .top-bar-contact-btn{
        display: none;
    }
    header{
        min-height: 70vh;
    }
    section{
        padding: 30px;
    }
    .section-header{
        color: olivedrab;
        font-size: 20px;
        font-weight: 700;
    }
    .section-subheader{
        color: #444444;
        font-size: 27px;
        font-weight: 700;
    }
    .section-writeup p{
        font-size: 16px;
    }
    #what-we-do .section-writeup{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #our-solution{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: auto;
        min-height: 100vh;
    }
    .our-solution-desc{
        width: 100%;
    }
    .our-solution-img{
        height: 60vh;
        width: 80%;
    }
    .our-solution-img img{
        height: 100%;
        width: 100%;
    }
    .service-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        margin: 20px;
        width: 90%;
        max-width: 100%;
    }
    .service-card .icon{
        width: 100%;
    }
    .service-card .writeup{
        width: 100%;
    }
    footer{
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fcfcfc;
        padding: 30px;
    }
    .quicklinks{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .footer-menu ul{
        padding-left: 12px;
    }
    .social-media ul{
        padding-left: 5px;
    }
    .footer-menu ul li, .social-media ul li{
        margin-bottom: 15px;
        font-size: 16px;
    }
    #nl-form{
        width: 100%;
    }
    #nl-submit-btn{
        background-color: green;
        padding: 6px 8px;
        width: 100%;
    }
    .extra-links{
        text-align: center;
    }
    .copyright{
        width: 100%;
        height: 30px;
        font-size: 16px;
        color: #cccccc;
        background-color: #444444;
        text-align: center;
    }
}